.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 2;
    border-left: 1px solid var(--card-bg);
    border-right: 1px solid var(--card-bg);
    background-color: var(--chat-bg-color);
    border-radius: 10px;
    overflow: hidden;
    
    .top {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;
        
        .user {
            display: flex;
            align-items: center;
            gap: 20px;
            
            
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
            
            .texts {
                display: flex;
                flex-direction: column;
                gap: 5px;
                
                span {
                    font-size: 18px;
                    font-weight: bold;
                }
                
                P {
                    font-size: 14px;
                    font-weight: 300;
                    color: var(--text-color);
                }
            }
            .mute-indicator {
                font-weight: 300;
                color: var(--accent-hover);
            }
        }
        
        .icons {
            display: flex;
            gap: 10px;
            cursor: pointer;
            
            .chatSearch-icon {
                color: var(--accent-color);
                transition: all 0.3s ease;
                font-size: 25px;
                
                &:hover {
                    color: var(--accent-color);
                }
            }

            .chatOptions-icon {
                width: 24px;
                height: 24px;
                color: var(--accent-color);
                cursor: pointer;
                transition: all 0.4s ease;
            
                &:hover {
                    color: var(--accent-color);
                }
            }
        }
    }
    
    .center {
        display: flex;
        justify-content: center;
        flex: 1;
        width: 100%;
        padding: 20px;
        overflow-x: hidden;
        position: relative;
        
        /* Search navigation */
        .search-navigation {
            display: flex;
            align-items: center;
            margin-left: 8px;
            position: absolute;
            top: 70px;
            left: 0;
            background: var(--card-bg);
            padding: 4px;
            border-radius: 5px;
            z-index: var(--context-menu);
            gap: 10px;
            
            span {
                width: 100%;
                min-width: 70px;
                font-size: 14px;
                color: var(--accent-color);
                font-weight: 500;
                text-align: center;
            }
            
            button {
                background: none;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;
                border-radius: 5px;
                color: var(--accent-hover);
                
                &:hover {
                    color: var(--accent-color);
                }
                &:active {
                    transform: scale(0.9);
                }
            }
        }
        
        /* Messages */
        .messages {
            position: relative;
            width: 100%;
            height: 78vh;
            display: flex;
            flex-direction: column;
            gap: 15px;
            overflow-Y: scroll;
            max-height: 95vh;
            padding: 0 17%;
            overscroll-behavior: contain;
            scrollbar-width: thin;
            scrollbar-color: var(--accent-hover) var(--container-color);
            padding-right: calc(17% + 15px);
            box-sizing: border-box;
            
            #scrollDownBtn {
                display: flex;
                position: fixed;
                bottom: 80px;
                right: 60px;
                z-index: var(--btn);
                font-size: 18px;
                border: none;
                outline: none;
                color: white;
                cursor: pointer;
                padding: 15px;
                border-radius: 50%;
                background-color: var(--container-color);
                transition: all 3s ease;
                
                &:hover {
                    background-color: #555;
                }
            }
            .message {
                position: relative;
                display: flex;
                flex-direction: column;
                max-width: 60%;
                width: fit-content;
                border-radius: 10px;
                gap: 10px;
                transition: transform 0.2s;
                
                &:hover {
                    transform: scale(1.02);
                }
                
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    border-radius: 8px;
                }
                
                audio {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                    background-color: var(--container-color);
                    border-radius: 8px;
                }
                p {
                    padding: 10px;
                    max-width: max-content;
                    word-wrap: break-word;
                    word-break: break-word;
                    background-color: var(--container-color);
                    border-radius: 8px;
                }
                
                span {
                    font-size: 13px;
                }
                
                .actions {
                    background-color: transparent;
                    .message-time {
                        margin-left: auto;
                    }
                }
                
                &.own {
                    align-self: flex-end;
                    
                    img {
                        width: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                    
                    audio {
                        width: 100%;
                        height: auto;
                        background-color: var(--purple-2);
                    }
                    
                    p {
                        background-color: var(--purple-2);
                        max-width: 100%;
                    }
                }
                
                .reactions {
                    display: flex;
                    gap: 4px;
                    
                    .reaction {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        padding: 2px 4px;
                        border-radius: 12px;
                        background: var(--accent-color);
                        font-size: 12px;
                        
                        .count {
                            color: var(--accent-color);
                        }
                    }
                }
            }
            
            /* Search message */
            .highlighted-message {
                transition: background-color 0.3s ease;
                background-color: var(--orange-2);
                box-shadow: 0 0 8px rgba(255, 204, 0, 0.5) !important;
            }
            
            .own.current-search-result {
                border-left: none;
                border-right: 3px solid orange;
                /* background-color: rgba(255, 165, 0, 0.4); */
                
                .texts {
                    padding-left: 15px;
                }
            }
            .current-search-result:hover {
                background-color: var(--orange-2);
            }
            
            .current-search-result {
                border-left: 3px solid orange;
            }
            
            .actions {
                display: flex;
                gap: 5px;
                
                .favorite-icon {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    font-size: 16px;
                    background: white;
                    border-radius: 50%;
                    padding: 2px;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                }
            }
            
            .actions button {
                background: none;
                border: none;
                color: #fff;
                cursor: pointer;
                font-size: 16px;
            }
            
            .actions button:hover {
                color: var(--purple);
            }
            
            .edit-message {
                position: fixed;
                bottom: 80px;
                display: flex;
                gap: 5px;
                align-items: center;
            }
            
            .edit-message input {
                flex: 1;
                padding: 5px;
                border: 1px solid var(--purple);
                border-radius: 5px;
                background-color: var(--bg-color);
                color: #fff;
            }
            
            .edit-message button {
                background-color: var(--purple);
                border: none;
                padding: 5px 10px;
                color: #fff;
                cursor: pointer;
                border-radius: 5px;
            }
            
            .edit-message button:hover {
                background-color: var(--purple-2);
            }
            
            .context-menu {
                position: fixed;
                display: flex;
                align-items: center;
                flex-direction: column;
                color: #fff;
                border-radius: 5px;
                padding: 10px;
                background: var(--bg-color);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                z-index: var(--context-menu);
                min-width: 150px;
                transition: opacity 0.2s ease;
                
                button.option {
                    display: flex;
                    width: 100%;
                    color: #fff;
                    cursor: pointer;
                    border: none;
                    border-radius: 5px;
                    background: none;
                    padding: 5px;
                    transition: all 0.3s ease;
                    
                    &:hover {
                        background: var(--purple-hover);
                        transform: scale(1.05);
                    }
                    
                    span {
                        margin-right: 5px;
                    }
                }
                
                .reaction-picker {
                    position: absolute;
                    top: 105%;
                    display: flex;
                    gap: 4px;
                    padding: 8px;
                    border-radius: 10px;
                    background-color: var(--container-color);
                    border-top: 1px solid var(--container-color);
                    
                    button {
                        padding: 4px;
                        border: none;
                        background: none;
                        cursor: pointer;
                        border-radius: 4px;
                        transition: transform 0.2s;
                        
                        &:hover {
                            transform: scale(1.2);
                            background: var(--purple-hover);
                        }
                    }
                }
            }
        }
        
    }
    
    .send-wrapper {
        position: fixed;
        display: flex;
        justify-content: center;
        bottom: 10px;
        gap: 20px;
        background-color: transparent;
        border-radius: 10px;
        max-width: 700px;
        
        .input-inner {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            background-color: var(--bg-color);
            max-width: 700px;
            padding: 5px 10px;
            
            .file {
                color: var(--accent-hover);
                width: 24px;
                height: 24px;
                cursor: pointer;
                transition: all 0.4s ease;
                
                &:hover {
                    color: var(--accent-color);
                    transform: scale(1.2);
                }
            }
            .icons {
                position: absolute;
                bottom: 60px;
                right: 0;
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 10px;
                border-radius: 10px;
                background-color: var(--bg-color);
            }
            
            .file, .camera {
                cursor: pointer;
                transition: all 0.4s ease;
                color: var(--accent-color);
                
                &:hover {
                    transform: scale(1.2);
                    color: var(--accent-color);
                }
            }
            
            input {
                width: 300px;
                flex: 1;
                border: none;
                outline: none;
                color: #fff;
                font-size: 18px;
                background-color: var(--bg-color);
                padding: 10px;
                border-radius: 10px;
                font-size: 16px;
                
                &:disabled {
                    cursor: not-allowed;
                }
            }
            
            .removeText {
                width: 24px;
                height: 24px;
                cursor: pointer;
                color: var(--accent-color);
                transition: all 0.4s ease;
                
                &:hover {
                    transform: scale(1.2);
                    color: var(--accent-color);
                }
            }
        }
        
        /* MICROPHONE */
        .sendButton.mic-button {
            background-color: var(--accent-hover);
            transition: all 0.3s ease;
        }
        
        .sendButton.mic-button:hover {
            background-color: var(--accent-color);
        }
        
        .sendButton.recording {
            background-color: var(--accent-color);
        }
        
        /* Стили для индикатора записи */
        .recording-indicator {
            display: flex;
            align-items: center;
            background-color: transparent;
            border-radius: 20px;
            padding: 8px 12px;
            margin-right: 8px;
            width: 100%;
            justify-content: space-between;
            border: 2px solid var(--accent-hover);
        }
        
        .recording-time {
            color: var(--accent-hover);
            font-weight: bold;
            margin: 0 10px;
        }
        
        .recording-wave {
            display: flex;
            align-items: center;
        }
        
        .wave-bar {
            display: inline-block;
            width: 3px;
            height: 15px;
            margin: 0 2px;
            background-color: var(--accent-color);
            border-radius: 3px;
            animation: wave 1s ease-in-out infinite;
        }
        
        .wave-bar:nth-child(1) {
            animation-delay: 0.0s;
        }
        
        .wave-bar:nth-child(2) {
            animation-delay: 0.2s;
        }
        
        .wave-bar:nth-child(3) {
            animation-delay: 0.4s;
        }
        
        .wave-bar:nth-child(4) {
            animation-delay: 0.6s;
        }
        
        .wave-bar:nth-child(5) {
            animation-delay: 0.8s;
        }
        
        .recording-actions {
            display: flex;
            align-items: center;
        }
        
        .recording-actions button {
            border: none;
            background: none;
            cursor: pointer;
            margin-left: 10px;
            padding: 5px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;
            color: var(--danger-btn);
        }
        
        .stop-recording {
            color: var(--danger-hover);
            background-color: rgba(255, 76, 76, 0.1) !important;
        }
        
        .cancel-recording {
            color: var(--text-color);
            background-color: rgba(136, 136, 136, 0.1) !important;
        }
        
        .stop-recording:hover {
            background-color: rgba(255, 76, 76, 0.2) !important;
        }
        
        .cancel-recording:hover {
            background-color: rgba(136, 136, 136, 0.2) !important;
        }
        
        /* SEND BUTTON */
        .sendButton {
            color: #fff;
            background-color: var(--accent-hover);
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            
            &:hover {
                background-color: var(--accent-color);
            }
            
            &:disabled {
                cursor: not-allowed;
                background-color: var(--card-bg);
            }
        }
        
        .removeText {
            display: none;
        }
    }
    
    .imgPreview {
        position: fixed;
        padding: 15px;
        bottom: 73px;
        width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: var(--preview);
        border-radius: 10px;
        background-color: var(--container-color);
        
        img {
            width: 100%;
            max-width: 500px;
            height: auto;
            border-radius: 8px;
        }
        
        button {
            position: absolute;
            top: 10px;
            right: 10px;
            border: none;
            color: var(--danger-hover);
            cursor: pointer;
            font-size: 20px;
            padding: 4px;
            border-radius: 4px;
            background-color: var(--container-color);
        }
    }
    
    .audioPreview {
        position: fixed;
        padding: 15px;
        bottom: 73px;
        width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: var(--preview);
        border-radius: 10px;
        background-color: var(--container-color);
        gap: 10px;
        
        audio {
            background-color: var(--orange);
            width: 100%;
            max-width: 500px;
            height: auto;
            border-radius: 8px;
        }
        
        button {
            color: var(--orange);
        }
    }
}

@media screen and (max-width: 768px) {
    .chat .messages {
        max-width: 100%;
    }
    .removeText {
        display: block;
    }
}

@keyframes wave {
    0%, 100% {
        height: 5px;
    }
    50% {
        height: 15px;
    }
}