.emoji {
    position: relative;
    
    .emoji-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        color: var(--primary-hover);
    }
    
    .picker {
        position: absolute;
        bottom: 50px;
        border-radius: 10px;
        background-color: var(--bg-modal);
        backdrop-filter: blur(19px) saturate(180%);

        .epr-main, .epr-emoji-category-label {
            background: transparent;
        }
        .epr_b8hfyo {
            scrollbar-color: var(--primary-hover) var(--bg-container);
        }
    }
}