@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  /* layers */
  --btn: 5;
  --context-menu: 10;
  --dropdown: 15;
  --tooltip: 20;
  --overlay: 30;
  --overlay-btn: 35; 
  --modal: 40;
  --modal-btn: 45;
  --modal-overlay: 50;
  --preview: 55;
  --popover: 60;
  --banner: 70;
  --tour-overlay: 75;
  --tour-tooltip: 80;
  --toast: 80;
  --snackbar: 90;

  /* sizes */
  --btn-size: 2.5rem;
  --btn-radius: 0.5rem;
  --btn-padding: 0.5rem 1rem;
  --gap-1: 0.5rem;
  --gap-2: 1rem;
  --gap-3: 1.5rem;
  --gap-4: 2rem;
  --modal-border-radius: 10px;
  --modal-width: 600px;

  /* colors */
  --modal-bg: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  background: var(--bg-color);
  /* overflow-x: hidden; */
  font-family: 'Montserrat', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1680px;
  min-height: 100%; 
  background: var(--container-color);
  margin: 0 auto;
  border-radius: 12px;
  backdrop-filter: blur(19px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 85px;
  height: 50px;
  --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,var(--accent-color) 0);
  --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,var(--accent-color) 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-position: left,center,right;
  background-repeat: no-repeat;
  animation: l9 1s infinite;
}
@keyframes l9 {
  0%   {background-size:25px 50% ,25px 50% ,25px 50%}
  25%  {background-size:25px 100%,25px 50% ,25px 50%}
  50%  {background-size:25px 50% ,25px 100%,25px 50%}
  75%  {background-size:25px 50% ,25px 50% ,25px 100%}
  100% {background-size:25px 50% ,25px 50% ,25px 50%}
}

.react-joyride__overlay {
  z-index: var(--tour-overlay);
}

.react-joyride__tooltip {
  z-index: var(--tour-tooltip);
}