.addUser-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg-modal);
    z-index: var(--modal);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .addUser {
        width: 50%;
        min-height: 304px;
        max-width: var(--modal-width);
        height: max-content;
        border-radius: var(--modal-border-radius);
        background: var(--bg-nav);
        backdrop-filter: blur(19px) saturate(180%);
        border: 1px solid var(--primary-hover);
        margin: auto;
        padding: 15px;
        z-index: var(--btn);
        
        .search-container {
            margin-bottom: 15px;
            
            input {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                outline: var(--primary-color) solid 2px;
                background-color: var(--border-color);
                color: var(--text-primary);
            }
        }
        
        .search-results {
            max-height: 200px;
            overflow-y: auto;
            margin-bottom: 15px;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
            
            .user-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                cursor: pointer;
                transition: background-color 0.2s;
                border-radius: 5px;
                
                .detail {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    background: transparent;
                    
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .user-info {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .username {
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--text-color);
                        }

                        .bio {
                            font-size: 14px;
                            color: var(--text-color);
                            opacity: 0.7;
                        }
                    }
                }
                
                &:hover {
                    background-color: var(--bg-nav);
                }
                
                &.selected {
                    background-color: var(--primary-hover);
                }
            }
        }
        
        .no-results {
            padding: 15px;
            text-align: center;
            color: var(--text-secondary);
        }
        
        .selected-user {
            padding: 15px;
            border-radius: 5px;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            .user-detail {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                background-color: transparent;
                
                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 20px;
                    border: 2px dashed var(--primary-color);
                }
                
                span {
                    color: var(--text-primary);
                    font-weight: bold;
                    font-size: 16px;
                    font-family: monospace;
                }
            }
            
            .add-button {
                width: 50%;
                display: block;
                margin: 0 auto;
                color: var(--btn-text-color);
                border: none;
                padding: 8px 15px;
                cursor: pointer;
                border-radius: 5px;
                background-color: var(--btn-primary);
                transition: background-color 0.2s;
                
                &:hover {
                    background-color: var(--btn-primary-hover);
                }
            }
            
        }
    }
}
