.chat-options {

    position: absolute;
    width: 200px;
    top: 65px;
    right: 10px;
    background-color: var(--container-color);
    border-radius: 10px;
    padding: 5px;
    z-index: 100;
    .options {
        .option {
            margin-bottom: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4px 12px;
            font-size: 14px;
            .option-icon {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                color: var(--icons-color);
            }
            .option-text {
                color: var(--icons-color);
            }
        }
    }
}